.c-link {
    display: inline-block;
    text-decoration: none;

    color: color-get(brand, main);
    transition: opacity 0.25s;
    &:active { opacity: 0.7; }

    position: relative;
    padding-bottom: sp(-4);
    &::after {
        content: '';
        width: 100%;
        height: sp(-4);
        background: currentColor;
        opacity: 0.5;
        
        position: absolute;
        left: 0; right: 0;
        bottom: 0;
    }

    &::before { 
        @extend .c-link::after; 
        height: sp(-12);
        
        opacity: 0;
        bottom: 30%;

        transform: scaleY(0.4);
        transition: all 0.3s;
    }

    &:hover::before {
        opacity: 0.175;
        transform: scaleY(1);
    }
}

.c-link--wrap {
    display: inline;
    &::after, &::before { display: none; }

    // have background able to wrap on line break
    // Downside: cannot use currentColor & no animation
    border-bottom: sp(-4) solid rgba(color-get(brand, main), 0.5);
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 30%,
        rgba(color-get(brand, main), 0.125) 30%,
        rgba(color-get(brand, main), 0.125) 70%,
        transparent 70%,
        transparent 100%
    );
}

.c-link--alt {
    font-family: $font-support-2;
    font-weight: 500;
}

.c-link--small {
    @include ms-respond(font-size, -1);
}