.c-social-media-links {
    @extend .o-list, .o-list--inline;
    display: inline-block;
    vertical-align: middle;

    li { @extend .o-list__item; }
    span {
        @include ms-respond(font-size, 2);
        color: color-get(gray, dark);
    }
}