.p-case-study {
    background: color-get(element, bg);
    padding: sp(-60)*3 0;
}

.p-case-study__nav {
    padding: sp(-20) 0;
    
    position: fixed;
    top: initial; bottom: 0;
    background: color-get(element, bg);
    text-align: right;
    overflow: hidden;

    @include iota-breakpoint(sm) { 
        padding-bottom: sp(-28);
        top: 0; bottom: initial; 
        text-align: center;
    }
    
    h6 { @include ms-respond(font-size, 0); }

    &-title {
        display: none;
        @include ms-respond(font-size, 2);
        @extend .o-container, .o-container--content;
        @include iota-breakpoint(sm) { display: block; }

        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    // TODO edit into proper classes
    &-up, &-down { transition: all 0.3s; }
    &-down {
        position: absolute;
        top: 0; right: 0;
        transform: translateY(200%);
    }
    &--down {
        .p-case-study__nav-up { transform: translateY(-200%); }
        .p-case-study__nav-down { 
            top: 50%;
            transform: translateY(-50%); 
        }
    }
    
    transition: all 0.3s;
    opacity: 1;
    transform: translateY(0);
    &--hidden {
        &, * { pointer-events: none; }
        opacity: 0;
        transform: translateY(#{sp(-12)});
        @include iota-breakpoint(sm) { 
            transform: translateY(-#{sp(-12)});
        }
    }
}

.p-case-study__demo {
    display: inline-block;
    width: 100%;
    margin: auto;
    
    &, * {
        position: relative;
        z-index: 1;
    }
    
    &-video {
        width: 100%;
        border: 1px solid color-get(brand, main);
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        
        background: color-get(gray);
        position: relative;
        iframe, video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 1rem; bottom: -2rem;
        left: -3rem; right: -3rem;
        z-index: -1;

        background: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent sp(-12),
            color-get(gray) sp(-12),
            color-get(gray) sp(-20)
        );
        opacity: 0.5;
    }
}

.p-case-study__content {
    position: relative;
    z-index: 1;
    
    @for $i from 1 through 6 {
        h#{$i} { 
            @extend h6;
            @if ($i <= 2) { @include ms-respond(font-size, 3); }
            @extend .o-container, .o-container--content;
            margin-top: sp(-40);
            & + * { margin-top: sp(-20); }
            & + p { margin-top: sp(-12); }
        }
    }

    & > * { @extend .o-container, .o-container--content; }
    * + * { margin: sp(-40) auto; }

    & > *:first-child { font-weight: bold; }
    figure { @extend .o-container, .o-container--figure; }


    ul { 
        margin-top: -#{sp(-24)};
        list-style: none;
        
        li { 
            position: relative;
            color: color-get(black, light);
            margin: sp(-12) auto; 
        }
        
        li::before {
            content: '';
            display: inline-block;
            position: absolute;
            left: -#{sp(-24)}; top: sp(-8);
            border-color: transparent color-get(brand, main);  
            border-style: solid;  
            border-width: 0.4em 0 0.4em 0.4em;  
        }
    }
}